.team {
	background: linear-gradient(182.21deg, #ffffff 5.8%, #e8e8e7 146.91%);
	max-width: none;
	padding: 0;
	position: relative;
	width: 100%;

	.content-wrapper {
		box-sizing: border-box;
		margin: 0 auto 5rem;
		overflow: hidden;
		padding-bottom: 10rem;
		padding-top: 5rem;
		position: relative;

		@extend %spacing;

		figure {
			bottom: 5%;
			margin: 0;
			position: absolute;
			right: 0;
			width: 45%;
		}

		figcaption {
			bottom: 5vw;
			color: $grey2;
			position: absolute;
			right: 4rem;
			text-align: right;
			z-index: 1;

			> span {
				display: block;
			}

			.job-title {
				@extend %font-spec-small;

				span {
					font-weight: bold;
				}
			}

			.job-duration,
			.job-title {
				font-weight: $fontWeightLight;
				margin-bottom: 0;

				@extend %font-spec-small;
			}

			.team-member {
				color: $black;
				margin: 0;
				font-weight: $fontWeightSemiBold;
			}
		}

		h3 span:nth-child(2) {
			display: block;
		}

		p {
			font-size: 28px;
			font-weight: normal;
			line-height: 35px;
			padding-bottom: 1.5rem;
		}

		.text-boundary {
			clip-path: polygon(100% 0, 100% 100%, 0 100%);
			float: right;
			height: 600px;
			margin-top: -4rem;
			shape-margin: 2rem;
			shape-outside: polygon(100% 0, 100% 100%, 0 100%);
			width: 67%;
		}
	}

	.svg-curve {
		bottom: 0;
		left: 0;
		pointer-events: none;
		position: absolute;
		right: 0;
		width: 100%;
	}

	@include respond-to(tablet) {
		.content-wrapper .text-content .text-boundary {
			height: 500px;
			shape-margin: 1rem;
			width: 56%;
		}

		p {
			font-size: 24px;
		}
	}

	@include respond-to(phone) {
		.content-wrapper {
			padding-bottom: 1rem;
			padding-top: 6rem;

			button {
				margin-bottom: 3.5rem;
			}

			figcaption {
				bottom: 0;
				right: 2rem;
			}

			figure {
				bottom: 0;
				right: -15%;
				width: 50%;
			}

			h3 span:nth-child(2) {
				display: inline;
			}

			p {
				font-size: 18px;
				line-height: 24px;
			}

			.text-content {
				width: 100%;

				.text-boundary {
					height: 450px;
					shape-margin: 1.5rem;
					width: 55%;
				}
			}
		}
	}

	@media screen and (max-width: 500px) {
		.content-wrapper {
			padding-bottom: 3rem;

			.text-content .text-boundary {
				shape-margin: 0.5rem;
				width: 45%;
			}

			figcaption {
				background: $white;
				padding-right: 1rem;
				right: 0;
				width: 100%;
			}

			figure {
				right: -25%;
				width: 67%;
			}
		}

		.svg-curve {
			bottom: 3.5rem;
		}
	}

	@media screen and (max-width: 400px) {
		.content-wrapper .text-content .text-boundary {
			shape-margin: 0.5rem;
			width: 34%;
		}
	}
}
