.recognition {
	aside {
		padding: 0;
	}

	.customer-success {
		margin: auto;
		max-width: 960px;
		padding: 3em 0;
		text-align: center;
		width: 100%;

		aside {
			flex: 1 1 0;
		}

		.awards {
			display: flex;
			justify-content: center;
			padding: 2em 0;
		}
	}

	.customer-recognition {
		margin: auto;
		max-width: 960px;
		padding: 6rem 0 11rem;
		text-align: center;
		width: 100%;

		aside {
			flex: 1 1 0;
		}

		.awards {
			display: flex;
			justify-content: center;
			padding: 2em 0;
		}
	}

	@include respond-to(phone, tablet) {
		.customer-recognition .awards,
		.customer-success .awards {
			display: flex;
			flex-direction: column;

			.icon-content-block {
				width: 100%;
			}
		}

		.customer-recognition aside,
		.customer-success aside {
			flex-basis: 100%;
		}
	}

	@include respond-to(phone) {
		.customer-recognition {
			padding-top: 4rem;
		}

		.customer-success .icon-section {
			height: 6rem;
			min-width: 6rem;
		}
	}

	@media all and (max-width: 500px) {
		.customer-recognition .icon-section {
			max-width: 27%;
			padding-left: 0;
		}
	}
}
