.cta-section {
	margin: 0 auto;
	max-width: 1200px;
	overflow: hidden;
	padding: 200px 0 238px;

	&.bg {
		background: linear-gradient(248deg, #79cd51 0%, #19ab4f 83.33%);
		margin: 0;
		max-width: 100%;
	}

	&.add-background {
		.d1 {
			opacity: 0.5;
		}

		.large {
			color: $white;
			opacity: 0.9;
		}
	}

	.buttonSvg {
		padding: 0 24px;
		position: relative;

		.button.light {
			width: 197px;
		}

		svg {
			padding-left: 40px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 1200px;
		}
	}

	.d1 {
		opacity: 1;
		padding: 0 24px 8px;
	}

	.large {
		opacity: 1;
		padding: 0 24px 32px;
	}
}

@include respond-to(phone, tablet) {
	.cta-section {
		overflow: hidden;
		padding: 0 0 138px;

		.buttonSvg {
			.button.light {
				width: 192px;
			}

			svg {
				padding-left: 21px;
			}
		}
		.d1 {
			opacity: 1;
			padding: 0 24px;
		}

		.large {
			padding: 0 24px 24px;
		}
	}
}
