.feature {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	max-width: 308px;
	padding: 0 0.5rem;
	text-align: center;
	width: 24.6vw;

	p,
	.heading {
		margin: 0;
	}

	.heading {
		@extend %font-spec-1;
	}

	.icon-wrapper {
		align-items: center;
		background: $white;
		border-radius: 50%;
		box-shadow: 0px 8px 40px rgba(9, 16, 29, 0.08),
			0px 0px 80px rgba(9, 16, 29, 0.04);
		display: flex;
		height: 17vw;
		justify-content: center;
		margin-bottom: 3.875rem;
		max-height: 240px;
		max-width: 240px;
		width: 17vw;
	}

	@media all and (max-width: 991px) {
		max-width: none;
		padding: 0 5% 7rem;
		width: 45vw;
	}

	@media all and (max-width: 768px) {
		padding-top: 3rem;
	}

	@media all and (max-width: 500px) {
		flex-direction: row;
		margin: 1.875rem 0;
		padding: 0;
		text-align: left;
		width: 100%;

		.icon-wrapper {
			flex: 0 0 6rem;
			height: 6rem;
			margin: 0;
			transform: translateX(-20px);
		}

		.heading {
			font-weight: 900;
		}
	}
}
